.name{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainContainer{
padding: 10px;
margin: 10px;
}
.row{
    margin-top: 0px;
    margin-left: -15px;
    margin-right: 20px;
}
.nav-wrapper{
    background-color: cornflowerblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.calendar{
    border-radius: 25px;
    
}
.brand-logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 100px;
    height: 200px;
    display: block; /* remove extra space below image */
  }