<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cookie&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!-- Compressed CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" rel="stylesheet">

    <!-- Compressed JavaScript -->
    <script crossorigin="anonymous" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"></script>
    <title>What's Next</title>

    <link href="./style.css" rel="stylesheet" />
</head>

<body>
<div class="image">
    <img src="ante-hamersmit-qg6MDcCWBfM-unsplash.jpg">
    <h1 class = 'title'>What's Next</h1>
    <h6>Search events going on near you</h6>
</div>

<div class="mainContainer">
<div class="wrapper">
    <div class="start" id="start-screen">
        <h3>Welcome to Whats Next!</h3>
        <p>
            This website helps you plan what you will do next.
            There are three options to choose for what you do next.
            You can choose from finding a place to eat, finding a show,
            finding hiking trails or finding all events around you.
        </p>
<!--        <button id="start">Let's Get Started</button>-->
    </div>
<!--    <div class="row">-->
<!--        <div class="col-sm-12">-->
<!--            <h2>Shows near you</h2>-->
<!--        </div>-->
<!--    </div>-->

    <div class='row'>
        <div class='col-3'>
            <div class="card" >
                <img src="./ante-hamersmit-qg6MDcCWBfM-unsplash.jpg" class="card-img-top" alt="...">
<!--                <div class="card-body">-->
<!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                </div>-->
            </div>
            </div>
        </div>
        <div class='col-3'>
            <div class="card" >
                <img src="./ante-hamersmit-qg6MDcCWBfM-unsplash.jpg" class="card-img-top" alt="...">
                <!--                <div class="card-body">-->
                <!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <!--                </div>-->
            </div>
        </div>
        <div class='col-3'>
            <div class="card" >
                <img src="./ante-hamersmit-qg6MDcCWBfM-unsplash.jpg" class="card-img-top" alt="...">
                <!--                <div class="card-body">-->
                <!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <!--                </div>-->
            </div>
        </div>
        <div class='col-3'>
            <div class="card" >
                <img src="./ante-hamersmit-qg6MDcCWBfM-unsplash.jpg" class="card-img-top" alt="...">
                <!--                <div class="card-body">-->
                <!--                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                <!--                </div>-->
            </div>
        </div>
    </div>

    </div>
    <div class="hide" id="questions">
        <h2 id="question-title"></h2>
        <div class="choices" id="choices"></div>
    </div>

    <div class="hide" id="end-screen">
        <h2>All done!</h2>
        <p>Your final score is <span id="final-score"></span>.</p>
        <p>
            Enter initials: <input id="initials" max="3" type="text" />
            <button id="submit">Submit</button>
        </p>
    </div>

    <div class="feedback hide" id="feedback"></div>
</div>

<footer id="footer">
</body>
</html>
