<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
<!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">-->
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cookie&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <title>What's Next</title>
</head>

<body>
<div class="image">
  <img src="ante-hamersmit-qg6MDcCWBfM-unsplash.jpg">
  <h1 class='title'>What's Next</h1>
  <h6>Search events going on near you</h6>
</div>


<div class="container">
  <header class="cell cell-1">Header</header>
  <aside class="cell cell-2">Left sidebar</aside>
  <main class="cell cell-3">Main content</main>
  <aside class="cell cell-4">Right sidebar</aside>
  <footer class="cell cell-5">Footer</footer>
</div>


<!--<div class="mainContainer" style="border-color: #ff0000">-->
<!--  <div class="wrapper">-->
<!--    <div class="start" id="start-screen">-->
<!--      <h1>Welcome to Whats Next!</h1>-->
<!--    </div>-->



<!--    <div class="container">-->
<!--      <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--        <img src="./photo-1504674900247-0877df9cc836.webp" alt="Avatar" class="mofo">-->
<!--        <div class="overlay">-->
<!--          <div class="text">Hello World</div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--      <a href="www.google.com" title="Hike" target="_blank" rel="noopener noreferrer">-->
<!--        <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--        <div class="overlay">-->
<!--          <div class="text">Hello World</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--      <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--        <img src="./photo-1470229722913-7c0e2dbbafd3.webp" alt="Avatar" class="mofo">-->
<!--        <div class="overlay">-->
<!--          <div class="text">Hello World</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--      <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--        <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--        <div class="overlay">-->
<!--          <div class="text">Hello World</div>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--<footer>-->
<!--  Something-->
<!--</footer>-->

<!--</div>-->
<!--<div class="hide" id="questions">-->
<!--  <h2 id="question-title"></h2>-->
<!--  <div class="choices" id="choices"></div>-->
<!--</div>-->

<!--<div class="hide" id="end-screen">-->
<!--  <h2>All done!</h2>-->
<!--  <p>Your final score is <span id="final-score"></span>.</p>-->
<!--  <p>-->
<!--    Enter initials: <input id="initials" max="3" type="text"/>-->
<!--    <button id="submit">Submit</button>-->
<!--  </p>-->
<!--</div>-->

<!--<div class="feedback hide" id="feedback"></div>-->
<!--</div>-->

<!--<footer id="footer">-->
</body>
</html>

<!--                <div class="wrapper">-->
<!--                    <div class="card-deck">-->
<!--                        <div class="card">-->
<!--                            <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                            <img src="./photo-1504674900247-0877df9cc836.webp" class="card-img-top" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Discover a New Restaurant</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" class="card-img-top" alt="...">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Hit A Trail</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="card">-->
<!--                            <img src="./photo-1470229722913-7c0e2dbbafd3.webp" class="card-img-top" alt="Link to Show Section">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Look for a Show</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


<!--        <div class="row row-cols-1 row-cols-md-2">-->
<!--            <div class="col mb-4">-->
<!--                <div class="card">-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-4">-->
<!--                <div class="card">-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-4">-->
<!--                <div class="card">-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-4">-->
<!--                <div class="card">-->
<!--                    <div class="container">-->
<!--                        <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="card-deck">-->
<!--            <div class="card">-->
<!--                <div class="container">-->
<!--                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                        <div class="overlay">-->
<!--                            <div class="text">Hello World</div>-->
<!--                        </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->

<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="container">-->
<!--                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                        <div class="overlay">-->
<!--                            <div class="text">Hello World</div>-->
<!--                        </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <div class="container">-->
<!--                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                        <div class="overlay">-->
<!--                            <div class="text">Hello World</div>-->
<!--                        </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--            <div class="row">-->
<!--                <div class="col-sm col-md-2 col-lg-4 ">-->
<!--                        <div class="container">-->
<!--                            <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="col-sm col-md-2 col-lg-4 ">-->
<!--&lt;!&ndash;                    &ndash;&gt;-->
<!--                        <div class="container">-->
<!--                            <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="col-sm col-md-2 col-lg-4 ">-->
<!--&lt;!&ndash;                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">&ndash;&gt;-->
<!--                        <div class="container">-->
<!--                            <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="col-sm col-md-2 col-lg-4 ">-->
<!--&lt;!&ndash;                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">&ndash;&gt;-->
<!--                        <div class="container">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--            </div>-->


<!--        <div class="container-fluid">-->
<!--            <div class="container">-->
<!--                <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                <div class="overlay">-->
<!--                    <div class="text">Hello World</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        <div class="container">-->
<!--            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--            <div class="overlay">-->
<!--                <div class="text">Hello World</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--            <div class="overlay">-->
<!--                <div class="text">Hello World</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg">-->
<!--                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <div class="container">-->
<!--                            <img src="./photo-1504674900247-0877df9cc836.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="col-lg">-->
<!--                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <div class="container">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--                <div class="col-lg">-->
<!--                    <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <div class="container">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" alt="Avatar" class="mofo">-->
<!--                            <div class="overlay">-->
<!--                                <div class="text">Hello World</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--            <div>-->
<!--                <div class="col">-->

<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card">-->
<!--                        <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                            <img src="./photo-1551632811-561732d1e306.webp" class="card-img-top" alt="...">-->
<!--s-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card">-->
<!--                        <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <img src="./photo-1504674900247-0877df9cc836.webp" class="card-img-top" alt="...">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Discover a New Restaurant</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card">-->
<!--                        <a href="www.google.com" title="Eateries" target="_blank" rel="noopener noreferrer">-->
<!--                        <img src="./photo-1470229722913-7c0e2dbbafd3.webp" class="card-img-top" alt="Link to Show Section">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Look for a Show</h5>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
