<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cookie&display=swap" rel="stylesheet">
  <link href="style5.css" rel="stylesheet">
  <title>Grid</title>
</head>
<body>
<header>
  <article>
    <h1 class='title'>What's Next</h1>
    <h6 class='subtitle'>Search events near you</h6>
  </article>
</header>
<main>
  <section class="breweries" id="breweries">
    <ul>
      <li>
        <figure>
          <!-- Photo by Quentin Dr on Unsplash -->
          <img src="../eateries/photo-1470229722913-7c0e2dbbafd3.webp" alt="Several hands holding beer glasses">
          <figcaption><h3>Find a Show</h3></figcaption>
          <!--          <div class="overlay ">Hello-->
          <!--            <div class="text"></div>-->
          <!--          </div>-->
        </figure>
      </li>


        <figure>
          <!-- Photo by Drew Farwell on Unsplash -->
          <img src="../eateries/photo-1504674900247-0877df9cc836.webp" alt="Several friends doing a toast">
          <figcaption><h3>Go to a Restaurant</h3></figcaption>
          </a>
        </figure>


<!--        <figure>-->
<!--          &lt;!&ndash; Photo by Quentin Dr on Unsplash &ndash;&gt;-->
<!--          <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">-->
<!--          <figcaption><h3>Billions upon billions</h3></figcaption>-->
<!--        </figure>-->
<!--        <p>-->
<!--          Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?-->
<!--        </p>-->
<!--        <a href="#">Visit Website</a>-->

        <figure>
          <!-- Photo by Rawpixel on Unsplash -->
          <img src="../eateries/photo-1551632811-561732d1e306.webp" alt="Three different glasses of beer">
          <figcaption><h3>Go for a Hike</h3></figcaption>
        </figure>

        <figure>
          <!-- Photo by Rawpixel on Unsplash -->
          <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
          <figcaption><h3>Vast cosmic arena</h3></figcaption>
        </figure>
    </ul>
  </section>

<!--      <div class="box1">-->
<!--        <link href='www.google.com' target="_blank" rel="noopener noreferrer" class="card-image">-->
<!--        <img src="../eateries/bank-phrom-OwX4DzrAOq8-unsplash.jpg" alt="Avatar" class="card-image">-->
<!--        </link>-->
<!--      </div>-->
<!--      <div class="box2">-->
<!--        <a href="www.google.com" target="_blank" rel="noopener noreferrer" class="card-image">-->
<!--        <img src="../eateries/photo-1504674900247-0877df9cc836.webp" alt="Avatar" class="card-image">-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="box3">-->
<!--        <a href="www.google.com" target="_blank" rel="noopener noreferrer" class="card-image">-->
<!--        <img src="../eateries/photo-1470229722913-7c0e2dbbafd3.webp" alt="Avatar" class="card-image">-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="box4">-->
<!--        <a href="www.google.com" target="_blank" rel="noopener noreferrer" class="card-image">-->
<!--        <img src="../eateries/photo-1551632811-561732d1e306.webp" alt="Avatar" class="card-image">-->
<!--        </a>-->
<!--      </div>-->
</main>
<footer>
</footer>
</body>
</html>
